.cardItem {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    color: var(--clr-black);
}

.cardItem h3 {
    font-size: 1.3rem;
    font-weight: 500;
}

.poster__container {
    position: relative;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
}

.rating {
    display: flex;
    justify-content: space-between;
}

.rating span {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.icon {
    font-size: 1.2rem;
    color: yellow;
}