.main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-bottom: 6rem;
}

@media(min-width:980px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 3.5fr;
        gap: 1rem;
    }
}